In [1]:
import pandas as pd
%pwd

'C:\\Users\\test\\Desktop\\ML cours\\Melbourne'

In [2]:
melbourne_data=pd.read_csv("melb_data.csv", sep=",")
print(melbourne_data)

              Suburb           Address  Rooms Type      Price Method  \
0         Abbotsford      85 Turner St      2    h  1480000.0      S
1         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2         Abbotsford      5 Charles St      3    h  1465000.0     SP
3         Abbotsford  40 Federation La      3    h   850000.0     PI
4         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
13575  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
13576   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
13577   Williamstown       83 Power St      3    h  1170000.0      S
13578   Williamstown      96 Verdon St      4    h  2500000.0     PI
13579     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
0        Biggin   3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0
1        Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0
2        Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0
3        Biggin   4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0
4        Nelson   4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0
...         ...         ...       ...       ...  ...       ...  ...       ...
13575     Barry  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  Williams  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577     Raine  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578   Sweeney  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579   Village  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0               NaN        NaN        Yarra -37.79960   144.99840
1              79.0     1900.0        Yarra -37.80790   144.99340
2             150.0     1900.0        Yarra -37.80930   144.99440
3               NaN        NaN        Yarra -37.79690   144.99690
4             142.0     2014.0        Yarra -37.80720   144.99410
...             ...        ...          ...       ...         ...
13575           NaN     1981.0          NaN -37.90562   145.16761
13576         133.0     1995.0          NaN -37.85927   144.87904
13577           NaN     1997.0          NaN -37.85274   144.88738
13578         157.0     1920.0          NaN -37.85908   144.89299
13579         112.0     1920.0          NaN -37.81188   144.88449

                       Regionname Propertycount
0           Northern Metropolitan        4019.0
1           Northern Metropolitan        4019.0
2           Northern Metropolitan        4019.0
3           Northern Metropolitan        4019.0
4           Northern Metropolitan        4019.0
...                           ...           ...
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[13580 rows x 21 columns]

In [3]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [4]:
melbourne_data=melbourne_data.dropna(axis=0)

In [5]:
y=melbourne_data.Price
print(y)

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [6]:
melb_features=['Rooms','Bathroom','Landsize','Lattitude','Longtitude']
X=melbourne_data[melb_features]
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [7]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [8]:
print(X.shape)
print(y.shape)

(6196, 5)
(6196,)

In [9]:
print(X)

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
1          2       1.0     156.0  -37.80790   144.99340
2          3       2.0     134.0  -37.80930   144.99440
4          4       1.0     120.0  -37.80720   144.99410
6          3       2.0     245.0  -37.80240   144.99930
7          2       1.0     256.0  -37.80600   144.99540
...      ...       ...       ...        ...         ...
12205      3       2.0     972.0  -37.51232   145.13282
12206      3       1.0     179.0  -37.86558   144.90474
12207      1       1.0       0.0  -37.85588   144.89936
12209      2       1.0       0.0  -37.85581   144.99025
12212      6       3.0    1087.0  -37.81038   144.89389

[6196 rows x 5 columns]

In [10]:
from sklearn.tree import DecisionTreeRegressor
melb_model0=DecisionTreeRegressor(random_state=1)
melb_model0.fit(X,y)
print("Making prediction for the following 5 houses")
print(X.head())
print("The predictions for the prices are")
print(melb_model0.predict(X.head()))

Making prediction for the following 5 houses
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions for the prices are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [11]:
from sklearn.metrics import mean_absolute_error
predicted_prices = melb_model0.predict(X)
print(mean_absolute_error(y, predicted_prices))

1115.7467183128902

In [12]:
print(y.head(5))

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X,y,random_state=0)
melb_model=DecisionTreeRegressor()
melb_model.fit(train_X, train_y)
predicted_prices=melb_model.predict(val_X)
print(mean_absolute_error(val_y, predicted_prices))

274360.36733376374

In [14]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [15]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d \t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5 	 Mean Absolute Error:  385696
Max leaf nodes: 50 	 Mean Absolute Error:  279794
Max leaf nodes: 500 	 Mean Absolute Error:  261718
Max leaf nodes: 5000 	 Mean Absolute Error:  271320

In [16]:
print(train_X.head())

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
10385      3       1.0     206.0  -37.87107   145.04991
5805       2       1.0       0.0  -37.85900   144.97670
8488       2       1.0    2701.0  -37.81090   144.86840
6672       3       1.0     670.0  -37.81340   144.87450
776        6       3.0     708.0  -37.91810   145.04400

In [17]:
print(train_X)

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
10385      3       1.0     206.0  -37.87107   145.04991
5805       2       1.0       0.0  -37.85900   144.97670
8488       2       1.0    2701.0  -37.81090   144.86840
6672       3       1.0     670.0  -37.81340   144.87450
776        6       3.0     708.0  -37.91810   145.04400
...      ...       ...       ...        ...         ...
9510       3       1.0     118.0  -37.81351   144.98804
6023       5       2.0     661.0  -37.76510   144.82410
2960       4       2.0     453.0  -37.70160   144.89740
4729       2       1.0      90.0  -37.83570   144.93760
4996       3       1.0     495.0  -37.75210   145.01140

[4647 rows x 5 columns]

In [26]:
print(val_y)

4850      815000.0
2307      655000.0
10090     957500.0
3645     1330000.0
4930      722000.0
           ...
8223      520000.0
11190     870000.0
8563      200000.0
1867     1002000.0
8375     1710000.0
Name: Price, Length: 1549, dtype: float64

In [20]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
predicted_value = forest_model.predict(val_X)
print(predicted_value)

[ 918290.          673345.         1167803.33333333 ...  252920.
  945530.         1318470.        ]

In [21]:
print(mean_absolute_error(val_y, predicted_value))

207190.6873773146

In [28]:
model_1 = RandomForestRegressor(n_estimators=50, random_state=0)
model_2 = RandomForestRegressor(n_estimators=100, random_state=0)
model_3 = RandomForestRegressor(n_estimators=100, criterion='absolute_error', random_state=0)
model_4 = RandomForestRegressor(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)

models=[model_1, model_2, model_3, model_4, model_5]

In [32]:
def get_mae2(model, t_x=train_X, t_y=train_y, v_x=val_X, v_y=val_y):
    model.fit(t_x, t_y)
    preds_val=model.predict(v_x)
    return(mean_absolute_error(v_y, preds_val))

In [34]:
for i in range (0, len(models)):
    mae2=get_mae2(models[i])
    print("Model %d a pour mae:%d" %(i+1, mae2) )

Model 1 a pour mae:207650
Model 2 a pour mae:206868
Model 3 a pour mae:205079
Model 4 a pour mae:214025
Model 5 a pour mae:253940